.nowPlayingCard {
  margin: 55px auto auto auto;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.05);
  width: 23.6vw;
  border-radius: 15px;
  box-shadow: 0px 0px 15px black;
}

.nowPlayingCard:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 30px black;
}

img#trackArt {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 61.8%;
  margin: 15px auto;
  border-radius: 15px;
  box-shadow: 0px 0px 15px black;
}

.trackInfo {
  font-size: 1.33vw;
  text-align: center;
  width: 100%;
}

// Music equalizer bars edited from: https://codepen.io/arosenb2/pen/rOPNwa
$bars: 13;

.musicBarContainer {
  position: relative;
  margin: auto;
  top: -15px;
  width: 61.8%;
  height: 0px;
  display: flex;
  align-items: flex-end;
  visibility: hidden;
}

.bar {
  width: 18px;
  min-height: 1vh;
  margin: 0 1px;
  box-shadow: 0 10px 15px #000;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 15px;
}

@for $i from 0 through $bars {
  .bar:nth-child(#{$i}) {
      animation: grow#{$i} #{random(1000) + 2500}ms alternate infinite;
  }
  
  @keyframes grow#{$i} {
      @for $j from 0 through 10 {
          #{$j * 10%} {
              height: random(8) + vh;
          }
      }
  }
}

a#toMusic:hover {
  text-decoration: none;
}