html {
  font-family: 'Raleway', sans-serif;
  background-color: #121212;
  color: #FFFFFF;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  font-size: 50%;
  font-family: 'Raleway', sans-serif;
  background-color: #121212;
  color: #FFFFFF;
}

h1 {
  font-family: 'Martel', serif;
  font-size: 8em;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  text-shadow: 0px 0px 100px gray;
}

h4 {
  font-family: 'Martel', serif;
  font-size: 4em;
  text-align: center;
  margin: 0;
  text-shadow: 0px 0px 100px gray;
}

p, li {
  color: #FFFFFF;
  font-size: 20px;    
  line-height: 2;
}

.textInfo {
  margin: 10px auto;
  width: 38.2%;
}

.nowPlayingCard {
  margin: 55px auto auto auto;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.05);
  width: 23.6%;
  border-radius: 15px;
}

.nowPlayingCard:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

img#trackArt {
  display: block;
  width: 61.8%;
  margin: 15px auto;
}

.trackInfo {
  font-size: 2.5em;
  text-align: center;
  width: 100%;
}

.musicRec {
  display: block;
  width: 850px;
  height: 750px;
  margin: 0 auto;
}

.descriptionCard {
  background-color: transparent;
  border-bottom: 1px solid gray;
  border-radius: 15px;
  margin: 5px;
}

.descriptionCard:hover {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.05)
}

.description {
  font-size: 17px;
  line-height: 2;
}

.btn-collapse {
  border-radius: 15px;
}

.fas, .fab {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fas:hover, .fab:hover {
  opacity: 1;
  text-decoration: none;
}

.mediaIcons {
  display: inline-block;
  width: 100%;
  text-align: center;
}

a#readOn {
  display: block;
  font-size: 15px;
  text-align: right;
}

a:link {
  color: gray; 
  text-decoration: none;
}

a:visited {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: lightgray;
  text-decoration: underline;
}

a:active {
  color: white;
  text-decoration: underline;
}
