html {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  background-color: #121212;
  color: #FFFFFF;
}

body {
  width: 650px;
  margin: 0 auto;
  padding: 0 20px 20px 20px; 
}

h1 {
  font-family: 'Martel', serif;
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  text-shadow: 0px 0px 100px gray;
}

h4 {
  font-family: 'Martel', serif;
  font-size: 30px;
  text-align: center;
  margin: 0;
  text-shadow: 0px 0px 100px gray;
}

.nowPlayingCard {
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0%);
  margin: 0 auto;
}

img#trackArt {
  display: block;
  margin: 15px auto;
}

.trackInfo {
  font-size: 20px;
  text-align: center;
}

p, li {
  font-size: 20px;    
  line-height: 2;
}

.description {
  font-size: 17px;
  line-height: 2;
}

a#readOn {
  display: block;
  font-size: 15px;
  text-align: right;
}

a:link {
  color: gray; 
  text-decoration: none;
}

a:visited {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: lightgray;
  text-decoration: underline;
}

a:active {
  color: white;
  text-decoration: underline;
}
